body {
  color:#00008B;
  font-family:'Optima', 'sans-serif';
  font-size: 120%;
  text-align: center;
  background-color:#f1f8ff;
  margin-right: 80px;
  margin-left: 80px;
}
h1 { 
  color:#00008B;
  font-family:'Trattatello', 'fantasy';
  font-size: 160%;
  text-align: center;
  margin-bottom: 15px;
  font-variant: small-caps;
}
h2 {
  color:#00008B;
  font-family: 'URW Chancery L', 'cursive';
  font-size: 120%;
  text-align: center;
  margin-bottom: 15px;
  font-variant: small-caps;
  text-decoration: underline;
}
ul.main-menu {
    list-style-type: none;
    margin: auto;
    padding: 20px;
  border:#808080 2px;
  outline:#FFFFFF solid 10px;
  text-align: center;
  width: 120%;
}
ul.main-menu>li {
    display: inline;
}
a:hover {
  color: blue;
}
.frame {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

table {
  font-family: 'URW Chancery L', 'cursive';
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
