body {
  color:#4169E1;
  font-family:'Optima', 'sans-serif';
  font-size: 125%;
  text-align: center;
  font-vatiant: small-caps;
  background-color:#f1f8ff;
}
h1 { 
  color:#00008B;
  font-family: 'URW Chancery L', 'cursive';
  font-size: 150%;
  text-align: center;
  margin-bottom: 15px;
}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
.frame {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
